* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  height: 100vh;
  background-color: #fafafa;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-top: 40px;
  background-color: #fafafa;
}
.container.left, .container.right {
  padding-top: 60px;
  flex: 1 4 300px;
  padding-bottom: 100px;
}
.container.center {
  flex: 1 1 600px;
}
.container.left {
  overflow-y: scroll;
  min-width: 210px;
  padding-left: 10px;
  padding-right: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  margin: 40px 0 20px 0px;
}
table tr:nth-child(2n) {
  background-color: #fafafa;
}
table th {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
table td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

#game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: #fafafa;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#validation-result {
    height: 20px;
}
#notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 40px;
}
#terminal {
  font-size: 2.00rem;
  font-family: monospace;
  line-height: 1.20;
  border: 1px solid rgba(143, 143, 143, 0.103);
}
.red-text {
  color: red;
}

#sliders {
  margin-left: 20px;
}

#buttons,
#options {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 10px 20px;; 
}
#buttons button,
#options button {
  width: 100px;
  height: 50px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: #fafafa;
  border: 1px solid #000;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
#buttons button:hover,
#options button:hover {
  background-color: #000;
  color: #fafafa;
}
#buttons button:active,
#options button:focus {
  background-color: #000;
  color: #fafafa;
}
#buttons button:focus,
#options button:focus {
  outline: none;
}
#buttons button:disabled,
#options button:disabled {
  background-color: #fafafa;
  color: #000;
}
#buttons button:disabled:hover,
#options button:disabled:hover {
  background-color: #fafafa;
  color: #000;
}
#buttons button:disabled:active,
#options button:disabled:active {
  background-color: #fafafa;
  color: #000;
}
#buttons button:disabled:focus,
#options button:disabled:focus {
  outline: none;
}

@media only screen and (max-width: 860px) {
  .container.left {
    min-width: 170px;
  }
  th {
    font-size: 0.7rem;
  }
  #game {
    width: 400px;
    height: 400px;
  }
  #terminal {
    font-size: 1.5rem;
  }
  #buttons button, #options button {
    font-size: 0.8rem;
    width: 60px;
  }
}
@media only screen and (max-width: 700px) {
  #notification {
    width: 100%;
  }
  #game {
    width: 300px;
    height: 300px;
  }
  #terminal {
    font-size: 1.2rem;
  }
  #options {
    display: flex;
    flex-wrap: wrap;
  }
  #buttons {
    padding-bottom: 0;
  }
  #buttons button, #options button {
    margin: 4px;
    font-size: 0.7rem;
    width: 50px;
  }
  #sliders {
    margin-top: 12px;
  }
}
@media only screen and (max-width: 490px) {
  th {
    font-size: 0.5rem;
  }
  .container.center > p:last-child {
    display: none;
  }
  #game {
    width: 250px;
    height: 250px;
  }
  #terminal {
    font-size: 1rem;
  }
  #buttons button, #options button {
    font-size: 0.6rem;
    width: 46px;
    height: 36px;
  }
  .container.left {
    font-size: .6rem;
    min-width: 112px;
  }
  .container.left td, .container.left th {
    padding: 2px;
    min-width: 20px;
  }
}
@media only screen and (max-width: 368px) {
  .center {
    font-size: 0.7rem;
  }
  #game {
    width: 100%;
    height: 200px;
  }
  #terminal {
    font-size: 0.8rem;
  }
  #buttons button, #options button {
    font-size: 0.5rem;
    width: 40px;
    margin: 1px;
  }
}