html {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  height: 100vh;
  background-color: #fafafa;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  background-color: #fafafa;
}
.container:nth-child(odd) {
  padding-top: 60px;
  flex: 1;
}
.container:nth-child(1) {
  overflow-y: scroll;
  padding-bottom: 100px;
}
.container:nth-child(2) {
  flex: 1.5;
}

table {
  border-collapse: collapse;
  min-width: 70%;
  border-spacing: 0;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  margin: 40px 0 20px 20px;
}
table tr:nth-child(2n) {
  background-color: #fafafa;
}
table th {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}
table td {
  padding: 10px;
  min-width: 50px;
  border-bottom: 1px solid #e0e0e0;
}

#game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: #fafafa;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#validation-result {
    height: 20px;
}
#notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 40px;
}
#terminal {
  font-size: 2.00rem;
  font-family: monospace;
  line-height: 1.20;
  border: 1px solid rgba(143, 143, 143, 0.103);
}

#buttons,
#options {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#buttons button,
#options button {
  width: 100px;
  height: 50px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: #fafafa;
  border: 1px solid #000;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
#buttons button:hover,
#options button:hover {
  background-color: #000;
  color: #fafafa;
}
#buttons button:active,
#options button:focus {
  background-color: #000;
  color: #fafafa;
}
#buttons button:focus,
#options button:focus {
  outline: none;
}
#buttons button:disabled,
#options button:disabled {
  background-color: #fafafa;
  color: #000;
}
#buttons button:disabled:hover,
#options button:disabled:hover {
  background-color: #fafafa;
  color: #000;
}
#buttons button:disabled:active,
#options button:disabled:active {
  background-color: #fafafa;
  color: #000;
}
#buttons button:disabled:focus,
#options button:disabled:focus {
  outline: none;
}
