* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100%;
  background-color: #fafafa;
  overflow-x: hidden;
}
.field-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 16px 0;
}
.field-container {
  display: flex;
  flex: 0 1 500px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 290px;
  margin: 0 20px;
}
.info-box {
  text-align: center;
  margin: 10px;
}
.search-type {
    font-size: 1.1rem;
    font-weight: 500;
}
.field {
  flex: 0 0 auto;
  font-size: 0rem;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
}
.field div {
  position: relative;
  display: inline-block;
  height: 24px;
  width: 24px;
  border: 1px solid rgb(0, 0, 0);
  border-left: 0;
  border-top: 0;
}
.field div:hover {
  background-color: rgb(83, 183, 255) !important;
  color: rgb(83, 183, 255) !important;
  border: 1px solid black !important;
}
.field #start {
  background-color: green;
}
.field #goal {
  background-color: rgb(200, 0, 255);
}
.field .floor {
  background-color: #fafafa;
}
.field .path {
  background-color: rgb(155, 255, 168);
}
.field .wall {
  background-color: #000000;
}
.field .head {
  background-color: rgb(155, 255, 168);
  border: 4px solid green;
}
.field .neighbor {
  background-color: #c7c7c7;
}
.field .trail {
  background-color: orange;
}
.node-data {
  position: absolute;
  display: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 0.7rem;
  padding: 5px;
  padding-bottom: 20px;
  text-align: center;
  height: 20px;
  width: 122px;
  opacity: 0.9;
  z-index: 100;
}

.red {
  color: red;
}

@media only screen and (max-width: 730px) {
  .field div {
    width: 14px;
    height: 14px;
  }
}
@media only screen and (max-width: 500px) {
    p {
        font-size: 0.8rem;
    }
    .search-type {
        font-size: 0.8rem;
    }
    .field-container {
        min-height: 210px;
    }
  .field div {
    width: 12px;
    height: 12px;
  }
}
@media only screen and (max-width: 380px) {
  .field div {
    width: 10px;
    height: 10px;
  }
}
